In [55]:
import requests
import re
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [56]:
url="https://traveltriangle.com/family-packages/page/1"

In [57]:
response=requests.get(url)

In [58]:
response

In [59]:
soup = BeautifulSoup(response.text)

In [60]:
trip_price=[]
actual_price=[]
city=[]
duration=[]
discount=[]
hotel_ratings=[]
visiting_places=[]
for j in range(1,20):
    url = f"https://traveltriangle.com/family-packages/page/{j}"
    response  = requests.get(url)
    soup = BeautifulSoup(response.text)
    for i in soup.find_all("h4",class_ = "sfc3 m0 f24 fw9 priceVal at_newprice"):
        if re.findall("(\d+\,\d+).*",i.text):
            trip_price.append("".join(re.findall("(\d+\,\d+).*",i.text)))
        else:
            trip_price.append(np.nan)

    for i in soup.find_all("h4",class_ = "sfc3 m0 f24 fw9 priceVal at_newprice"):
            if re.findall(".*\s(\d+\,\d+)",i.text):
                actual_price.append("".join(re.findall(".*\s(\d+\,\d+)",i.text)))
            else:
                actual_price.append(np.nan)

    for i in soup.find_all("div",class_ = "clearfix row m0 mb5 flex"):
            if re.findall("(.*)Please",i.text):
                city.append("".join(re.findall("(.*)Please",i.text)))
            else:
                city.append(np.nan)

    for i in soup.find_all("span",class_ = "iblock sfc6"):
            if re.findall("(.*)",i.text):
                duration.append("".join(re.findall("(.*)",i.text)))
            else:
                duration.append(np.nan)

    for i in soup.find_all("span",class_ = "f12 fw4 pt2 pb2 pl8 pr8 radius20 pbc1 sfcw at_discount_label"):
            if re.findall(".*",i.text):
                discount.append("".join(re.findall(".*",i.text)))
            else:
                discount.append(np.nan)

    for i in soup.find_all("div",class_ = "flex alignCenter"):
            if re.findall(".*",i.text):
                hotel_ratings.append("".join(re.findall(".*",i.text)))
            else:
                hotel_ratings.append(np.nan)

    for i in soup.find_all("ul",class_ = "clearfix package-cities-list at_packagecity_list"):
            if re.findall(".*",i.text):
                visiting_places.append("".join(re.findall(".*",i.text)))
            else:
                visiting_places.append(np.nan)

<>:13: SyntaxWarning: invalid escape sequence '\d'
<>:14: SyntaxWarning: invalid escape sequence '\d'
<>:19: SyntaxWarning: invalid escape sequence '\s'
<>:20: SyntaxWarning: invalid escape sequence '\s'
<>:13: SyntaxWarning: invalid escape sequence '\d'
<>:14: SyntaxWarning: invalid escape sequence '\d'
<>:19: SyntaxWarning: invalid escape sequence '\s'
<>:20: SyntaxWarning: invalid escape sequence '\s'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_14584\3584787633.py:13: SyntaxWarning: invalid escape sequence '\d'
  if re.findall("(\d+\,\d+).*",i.text):
C:\Users\lenovo\AppData\Local\Temp\ipykernel_14584\3584787633.py:14: SyntaxWarning: invalid escape sequence '\d'
  trip_price.append("".join(re.findall("(\d+\,\d+).*",i.text)))
C:\Users\lenovo\AppData\Local\Temp\ipykernel_14584\3584787633.py:19: SyntaxWarning: invalid escape sequence '\s'
  if re.findall(".*\s(\d+\,\d+)",i.text):
C:\Users\lenovo\AppData\Local\Temp\ipykernel_14584\3584787633.py:20: SyntaxWarning: invalid escape sequence '\s'
  actual_price.append("".join(re.findall(".*\s(\d+\,\d+)",i.text)))

In [61]:
print(len(city))
print(len(actual_price))
print(len(trip_price))
print(len(discount))
print(len(duration))
print(len(hotel_ratings))
print(len(visiting_places))

471
471
471
474
475
479
475

In [62]:
df1=pd.DataFrame({"city":city,
              "actual_price":actual_price,
              "trip_price":trip_price})

In [64]:
df=pd.DataFrame({"duration":duration,
              "visiting_places":visiting_places})

In [66]:
df=df.drop([0,1,44,126])

In [68]:
df=df.reset_index(drop=True)

In [70]:
discount_df=pd.DataFrame({"discount":discount})

In [72]:
discount_df=discount_df.drop([0,1])
discount_df=discount_df.reset_index(drop=True)

In [74]:
hotel_ratings=pd.DataFrame({"hotel_ratings":hotel_ratings})

In [75]:
hotel_ratings=hotel_ratings.drop([0,1,2,3,4,5,6,7])
hotel_ratings=hotel_ratings.reset_index(drop=True)

In [104]:
data=pd.concat([df1,discount_df,df,hotel_ratings],axis=1)

In [106]:
data

,city,actual_price,trip_price,discount,duration,visiting_places,hotel_ratings
0,Bestselling Rishikesh Mussoorie Tour Package F...,"12,545","11,549",8% Off,3 Days & 2 Nights,Rishikesh (1D)Mussoorie (2D),3 Star
1,Best Hong Kong Macau Tour Packages For An Impe...,"43,157","39,999",7% Off,7 Days & 6 Nights,Hong Kong (4D)Macau (3D),3 Star
2,Coorg Package For 2 Nights And 3 Days,"17,802","16,200",9% Off,3 Days & 2 Nights,Coorg (3D),3 Star2 Star4 Star
3,Refreshing Maldives Family Tour Packages From ...,"80,000","35,000",56% Off,5 Days & 4 Nights,Maldives (5D),3 Star4 Star5 Star
4,Best 4N 5D Andaman Sightseeing Tour Package Fo...,"36,484","33,200",9% Off,5 Days & 4 Nights,Port Blair (4D)Havelock (1D),3 Star
...,...,...,...,...,...,...,...
467,Adventurous Assam Tour Package,"15,730","14,000",9% Off,3 Days & 2 Nights,Kaziranga National Park (3D),3 Star
468,"New Zealand Queenstown, Rotorua & Franz Josef ...","150,081","142,000",11% Off,13 Days & 12 Nights,Auckland (2D)Paihia (2D)Rotorua (1D)Queenstown...,3 Star4 Star5 Star
469,Ecstatic Cambodia Vietnam Family Holiday Package,"61,111","55,000",5% Off,11 Days & 10 Nights,Hanoi (3D)Ho Chi Minh City (3D)Siem Reap (2D)P...,3 Star4 Star5 Star
470,Gleeful Rann Of Kutch Tour Package,"22,087","20,099",10% Off,5 Days & 4 Nights,Bhuj (2D)Kutch (3D),3 Star
471,NaN,NaN,NaN,9% Off,NaN,NaN,NaN

In [108]:
data.to_csv(r"C:\Users\lenovo\OneDrive\Desktop\travel_guide.csv",index=False)